li(id="#{ name }")
  img.about_avatar(src="/img/avatars/#{ name }.jpg", title="#{ credit }")
  .about_content
    h2= fullname
    h4= title
    .social
      if twitter
        a(href="http://twitter.com/#{ twitter }").icon-twitter= twitter
      if github
        a(href="http://github.com/#{ github }").icon-github= github
      if blog
        a.icon-blog(href="#{ blog }")= blog.replace(/^http:../, '')
