.section(id="#{ name }")
  .inner
    .info
      h2= fullname
      p= about
      a(href="#{ link }") View project &rarr;
    a(href="#{ link }")
      img(src="/img/projects/#{ name }_screenshot.jpg")
    .clearfix